/* Font */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --dark-blue: hsl(236, 21%, 26%);
  --veryDark-blue: hsl(235, 16%, 14%);
  --mostly-black: hsl(234, 17%, 12%);
}
body {
  font-size: 14px;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  background-color: var(--veryDark-blue);
  background: url('../images/bg-stars.svg') top/100% 80% no-repeat,
    url('../images/pattern-hills.svg') bottom/100% 20% no-repeat,
    -webkit-gradient(linear, left top, left bottom, from(#1e1e28), to(#251d2c));
  background-repeat: no-repeat;
}
#contenedor {
  min-height: 100vh;
  max-height: 100vh;
}
h4 {
  color: var(--white);
}
.countdown-container {
  color: var(--soft-red);
}
.numbers {
  font-size: 7rem;
}
/* Media Query Break Points */
@media only screen and (min-width: 375px) {
}
@media only screen and (min-width: 1440px) {
}
